<h2 app-highlight [myColor]="myColor" >
    {{ user.firstName | uppercase }} {{ user.lastName |uppercase }} </h2>

<p *ngIf="user.isWorking; else ElseTemplate">Income :
    <span [innerHTML]="user.income | currency : 'EUR'"></span>
</p>
<p *appUnless="user.isWorking">Unless Income :
        <span [innerHTML]="user.income"></span>
</p>
<!-- Desugar appUnless -->
<!-- <ng-template [appUnless]="user.isWorking">
      <p> Income :   <span [innerHTML]="user.income"></span></p>
</ng-template>  -->

<!-- Desugar ngIf -->
<!-- <ng-template [ngIf]="user.isWorking">
      <p> Income :   <span [innerHTML]="user.income"></span></p>
</ng-template> -->

<!-- <p [ngClass]="['feature', 'border']">Date of Birth : {{ user.dob }}</p> -->

<!-- <p [ngClass]="{'feature' : true, 'border' : false}">Date of Birth : {{ user.dob }}</p> -->

<p [ngClass]="myClasses">Date of Birth : {{ user.dob | date :'MM/dd/yyyy' }}</p>

<em>Total Votes : {{ user.vote }}
    <input type="number" [value]="user.vote" class="form-control" (change)="user.vote=$event.target.value">
    <input type="number" [(ngModel)]="user.vote" class="form-control">
</em>
<ng-template #ElseTemplate>
    <p>{{user.firstName }} is not Working now!</p>
</ng-template>

<br><br>

<ul class="nav nav-tabs">
    <li><button class="btn btn-warning btn-sm" (click)="tab=1">Show Reviews</button></li>
    <li><button class="btn btn-warning btn-sm" (click)="tab=2">Add Review</button></li>
</ul>
<br>
<section>
    <div *ngIf="tab==1">
        <ul class="list-group">
            <li *ngFor="let review of user.reviews" class="list-group-item">
                <blockquote>
                    <strong>Stars : {{ review.stars }}</strong>
                    {{ review.body }} by <cite> {{ review.author }}</cite>
                </blockquote>
            </li>
        </ul>

    </div>
    <div *ngIf="tab==2"> 
        <form class="well" #reviewForm="ngForm">
            <div class="form-group">
                <select name="stars" class="form-control" ngModel>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <textarea name="body" class="form-control" cols="30" rows="10" ngModel></textarea>
                <input type="email" class="form-control" name="author" ngModel>
                <button class="btn btn-sm btn-block" (click)="addReview(user, reviewForm)">Add Review</button>
            </div>
        </form>
    </div>
</section>