<div class="container">
  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li><a [routerLink]="['login']">Login</a></li>
    <li><a [routerLink]="['register']">Register</a></li>
    <li><a [routerLink]="['pipe']">Pipe Demo</a></li>
    <li><a [routerLink]="['obs']">Observable Demo</a></li>
    <li><a [routerLink]="['user']">User Demo</a></li>
    <li><a [routerLink]="['products']">Products</a></li>
    <li><a [routerLink]="['employee']">Employee</a></li>
    <li><a [routerLink]="['lazy']">Lazy</a></li>
  </ul>
</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>



<!-- 
<div class="container">
  <app-obs-demo></app-obs-demo>
</div>

<br><br><hr>

<div class="container">
  <app-register></app-register>
</div>


<div class="container">
  <app-login></app-login>
</div>

<br><br><hr>

<div class="container">
  <app-pipe-demo></app-pipe-demo>
</div>

<br><br><hr>

<div>
  <app-user></app-user>
</div>

 -->
