<div class="container">
<h2>User Component Loaded!</h2>

<ul class="list-unstyled">
<li class="well">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2">
            <app-user-img>
                <img [src]="user.image" class="img-responsive img-circle">
                <br><br>

                <button class="btn btn-info btn-sm" (click)="moreInfo(user)">
                    More Info
                </button>
                <br><br>
            </app-user-img>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            <input type="text" [(ngModel)]="demo">
            <app-user-info [user]="user" [demo]="demo">
                <!-- <h2>Some Cool Contents....</h2> -->
            </app-user-info>
        </div>
    </div>

</li>
</ul>
</div>